.App {
  text-align: center;
}

.app_form {
  padding: 20px;
  position: fixed;
  bottom: 20px;
  z-index: 1;
  background-color: #e9e9eb;
  width: 100%;
  margin: 20px;
  -webkit-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.2);
}

.app_formControl {
  display: flex !important;
  align-items: center;
  flex-direction: row !important;
  justify-content: space-between;
  padding-right: 20px !important;
}

.app_iconButton {
  flex: 0;
}

.app_input {
  flex: 1;
}
